body {
    font-family: Arial;
    margin: 0;
    background: #fafafa;
}

header,
footer {
    background: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.features {
    display: flex;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.features section {
    flex: 1;
    background: white;
    padding: 40px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.features section:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
}

@media (max-width:750px) {
    .features {
        flex-direction: column;
    }
}