@keyframes load {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    margin: 0;
    font-family: Arial;
    background: #f7f7f7;
}

.dashboard {
    display: grid;
    grid-template-areas: "header header" "sidebar main";
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

header {
    grid-area: header;
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

aside {
    grid-area: sidebar;
    background: #555;
    color: white;
    padding: 1rem;
}

.content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    animation: load 1s;
}

.card {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media(max-width:750px) {
    .dashboard {
        grid-template-areas: "header" "sidebar" "main";
        grid-template-columns: 1fr;
    }
}