body {
    margin: 0;
    font-family: Arial;
    background: #f7f7f7;
    text-align: center;
}

.compare {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.compare img {
    width: 100%;
    max-width: 400px;
}

.right img {
    filter: brightness(50%);
    transition: filter 0.5s;
}

.right img:hover {
    filter: none;
}

@media(max-width:700px) {
    .compare {
        flex-direction: column;
    }
}