body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 600px;
    margin: auto;
}

@media (max-width:700px) {
    p {
        line-height: 1.6;
        margin: 1rem;
    }
}