body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    flex: 1 1 calc(25% - 20px);
    background: hsl(190, 87%, 45%);
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    transition: background 0.3s;
    color: aqua;
}

.card:hover {
    background: #10dc40;
}

@media (max-width:900px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width:600px) {
    .card {
        flex: 1 1 100%;
    }
}